# ==========================================
# TERRAFORM (Infrastructure)
# ==========================================
# Local directory containing binary providers and plugins
.terraform/

# Ignore local state files (contain secrets and infrastructure metadata)
*.tfstate
*.tfstate.*

# Ignore the lock file (optional, but common to ignore in learning labs)
.terraform.lock.hcl

# Ignore variable files (Where you keep your actual AWS keys/secrets)
*.tfvars
*.tfvars.json

# Crash log files
crash.log
crash.*.log

# ==========================================
# PYTHON & SCRIPTS
# ==========================================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
bin/
lib/
include/

# ==========================================
# JENKINS & JAVA
# ==========================================
# If you download the plugin-manager.jar locally
*.jar

# Logs and temporary files
*.log
work/
target/

# ==========================================
# SECURITY & SECRETS (EXTREMELY IMPORTANT)
# ==========================================
# Ignore AWS SSH Key Pairs (.pem or .pub)
*.pem
*.pub

# Ignore environment variable files
.env

# ==========================================
# OS & IDE JUNK
# ==========================================
.DS_Store
Thumbs.db
.idea/
.vscode/